/* PHASE 9: Forms */

form {
  display: flex;
  margin: 0 0 20px 0;
}
/*
input[type="password"],
input[type="email"], */
input[type="text"],
/* input[type="submit"], */
textarea  {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  width: 100%;

}

button,
input[type="submit"] {
  cursor: pointer;
}

form div {
  font-weight: bold;
  padding: 5px;
}


.fieldset {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 19px;
  margin-left: 20px;
  width: 80%;
}
.post {
  background: #0c0;
  color: #fff;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 3px 0px green;

}

.post:hover {
  background: #0b0;
}

.cancel {
  font-weight: bold;
}

.cancel:hover {
  color: red;
}
